<section id="forget">
<div>
    <h2>UPDATE PASSWORD</h2>
    <form [formGroup]="loginRef" (ngSubmit)="updatepwd()">
        <label><a>EMAILID</a></label>
        <input type="email" formControlName="emailid"/><br/>
        <label>NEW PASSWORD</label>
        <input type="password" formControlName="password"/><br/>
        <label>CONFIRM PASSWORD</label>
        <input type="password" formControlName="newpassword"/><br/>
        <label>TYPE OF USER</label>
        <input type="radio" name="typeOfUser" value="admin" formControlName="typeOfUser"/><a>ADMIN</a>
        <input type="radio" name="typeOfUser" value="user" formControlName="typeOfUser"/><a>USER</a><br/>
        <input type="submit" value="UpdatePassword"/>
        <input type="reset" value="reset"/>
    </form>
    <br/>
    <span style="color:red">{{msg}}</span><br/>
    <a routerLink="/login"><a>LOGIN</a></a>
</div>
</section>